<% provide :title, t(".title") %>
    <%= link_to "English", locale:"en" %>
    <%= link_to "Vietnamese", locale:"vi" %>
    <h1><%= t ".sample_app" %></h1>
    <p>
      <%= t ".content" %>
    </p>
  
