<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(".title_1"), root_path, class: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".title_2"), root_path %></li>
        <li><%= link_to t(".title_3"), help_path %></li>
        <li><%= link_to t(".title_4"), signup_path %></li>
      </ul>
    </nav>
  </div>
</header>
